<table class="table">
  <tbody id="<%= dom_id(friend) %>">
    <tr>
      <th>First name</th>
      <td><%= friend.first_name %></td>
    </tr>

    <tr>
      <th>Last name</th>
      <td><%= friend.last_name %></td>
    </tr>

    <tr>
      <th>Email</th>
      <td><%= friend.email %></td>
    </tr>

    <tr>
      <th>Phone</th>
      <td><%= friend.phone %></td>
    </tr>

    <tr>
      <th>Twitter</th>
      <td><%= friend.twitter %></td>
    </tr>
  </tbody>
</table>
