<table class="table table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <!--<th>Action</th>-->
    </tr>
  </thead>

  <tbody id="<%= dom_id(friend) %>">
    <tr>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
     <!-- <td>
        <%= link_to "Show this friend", friend_path(friend), class: "btn btn-sm btn-primary" %>
      </td>-->
    </tr>
  </tbody>
</table>
