<div class="mb-3">
  <%= link_to "Create Post", new_post_path, class: "btn btn-success me-2" %>
  <%= link_to "View Posts", posts_path, class: "btn btn-primary" %>

 <!--<% if current_user.admin? %>
    <%= link_to "Admin Dashboard",
        admin_dashboard_path,
        class: "btn btn-dark ms-2" %>
  <% end %> -->
</div>

<h2>My Friends</h2>
<%= form_with url: friends_path, method: :get, local: true, class: "mb-3" do %>
  <div class="input-group">
    <%= text_field_tag :query,
          params[:query],
          placeholder: "Search by name or email",
          class: "form-control" %>

    <button class="btn btn-primary" type="submit">
      Search
    </button>
  </div>
<% end %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>Image</th> 
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr id="<%= dom_id(friend) %>">
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td>
        <% if friend.avatar.attached? %>
          <%= image_tag url_for(friend.avatar),
                width: 50,
                height: 50,
                class: "rounded-circle" %>
        <% else %>
          No Image
        <% end %>
      </td>
        <td>
          <!--<%= link_to "Show", friend, class: "btn btn-sm btn-primary" %>-->
          <%= link_to "Edit", edit_friend_path(friend), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", friend,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-3">
  <%= paginate @friends %>
</div>
