<nav class="navbar navbar-light bg-light mb-3">
  <div class="container">

    <%= link_to "Friends App", root_path, class: "navbar-brand" %>

   <div class="ml-auto">
      <% if user_signed_in? %>
        <%= link_to "Create Friend",
            new_friend_path,
            class: "btn btn-primary mr-2" %>

        <%= button_to "Logout",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-danger",
            form: { data: { turbo: true } } %>
      <% else %>
        <%= link_to "Login",
            new_user_session_path,
            class: "btn btn-success mr-2" %>

        <%= link_to "Sign up",
            new_user_registration_path,
            class: "btn btn-outline-primary" %>
      <% end %>
    </div>

  </div>
</nav>
